@import url('https://fonts.cdnfonts.com/css/recoleta');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  background: #ffffff;
  font-family: 'Recoleta', serif;
  transition: background-color 0.3s;
}

html.dark body {
  background: #1a1a1a;
}